<!DOCTYPE html>
<html lang="en">
  <head>
    {% block metatags %}
    {% endblock %}
    {% block header %}
      <title>
        {% block title %}
          {{ title|default('Issue Tracker') }}
        {% endblock %}
      </title>

      {% block stylesheets %}
      {% endblock %}
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% endblock %}
  </head>

  <body role="document" id="body">
    {% block navbar %}
    <div id="menu">
    </div>
    {% endblock %}
    <div style="margin: -20px 0px -20px 0px; min-height: 100vh; height: 100%; display: flex">
      <div id="DivLeft"
        class="col-md-2 no-print"
        style="background-color: #fafbfc; flex: 1;"
        >
        {% block leftSidebar %}
          <div style="margin: 10px 0px 0px 0px">
            <div style="margin: 0px 5px 0px 0px" class="row nowrap">
            </div>
            {% block leftSidebarContent %}
            {% endblock %}
          </div>
        {% endblock %}
      </div>

      <div id="DivMain" class="{{ colMain|default('col-md-7') }}">
        <div class="no-print">
          {% block breadcrumbs %}
            <a href="{{ path('issues') }}">Issue Tracker</a>
            {% block crumb %}
            {% endblock %}
          {% endblock %}
        </div>

        {% block overwriteH1 %}
          <h1 id="top" class="page-header">
            {% block pageheader %}
                Issue Tracker
            {% endblock %}
          </h1>
        {% endblock %}

        {% block flash_message %}
          {% include "@BetaMFDIssueTracker/flash.html.twig" %}
        {% endblock %}

        <div>
          {% block infopanel %}{% endblock %}
        </div>

        {% block body %}{% endblock %}

        {#}
          <div id="DivLeftContent" class="col-md-4">
              Left Content
          </div>
          <div id="DivMainContent" class="col-md-4">
              Main Content
          </div>
          <div id="DivRightContent" class="col-md-4">
              Right Content
          </div>
          #}

      </div>
      {% block rightSide %}
        <div id="DivRight" class="col-md-3"
          style="background-color: #fafbfc;
            padding: 5px 10px 5px 15px;
            ">
          {% block rightSidebar %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
  </body>
</html>
