{% extends '@BetaMFDIssueTracker/base.html.twig' %}
{% import _self as macr %}

{% block title %}#{{ issue.id }} {{ issue.title }} | {{ parent() }}{% endblock %}
{% block pageheader %}
  {{ issue.title }}
{% endblock %}

{% block crumb %}
  {{ parent() }} / <a href="{{ path('issue', {'id': issue.id}) }}">#{{ issue.id }}</a>
{% endblock %}

{% block body %}
  <div style="border-bottom: 1px #eee solid; margin: -20px 0px 20px 0px">
    Issue #{{ issue.id }}
    <span class="issue-status issue-{{ issue.statusCSS }}">{{ issue.status|upper }}</span>
      {{ issue.createdBy }} created issue
      <span></span>
      <time class="gray"
        datetime="{{ issue.createdDate|date("c") }}"
        title="{{ issue.createdDate|date("F, d Y H:i") }}"
        >
        {{ issue.createdDate|date("Y-m-d") }}
      </time>
  </div>

  <div id="description">
    {{ issue.description|nl2br }}
  </div>

  {% block checklist %}
    <div id="checklist">
      {% embed '@BetaMFDIssueTracker/inc/issue/checklist.html.twig' %}
      {% endembed %}
    </div>
  {% endblock %}

  {% block specialFields %}
  {% endblock %}
{% endblock %}


{% block rightSidebar %}
  <div id="workflow">
    {% embed '@BetaMFDIssueTracker/inc/issue/workflow.html.twig' %}
    {% endembed %}
  </div>

    <style>
      dt {
        display: block;
        margin: 10px 1px 0px 1px
      }
      dd {
        border-bottom: #c7ccd4 solid 1px;
        padding: 0px 1px 10px 1px

      }
    </style>

  <div id="issue-info">
    <div class="issue-property">
      <div class="issue-property-label">
        Status
      </div>
      <div class="issue-property-value">
        {{ issue.status }}
      </div>
      {% if issue.status.id == 'on hold' %}
      <div class="issue-property-help">
        {% if issue.holdExpireDate %}
          Reverts to '{{ issue.holdExpireStatus }}' on
          {{ issue.holdExpireDate|date('Y-m-d') }}
        {% else %}
          Remains on hold indefinitely
        {% endif %}
      </div>
      {% endif %}
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Creation
      </div>
      <div class="issue-property-value">
        By {{ issue.createdBy }} on {{ issue.createdDate|date('Y-m-d H:i:s') }}
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Deadline<div class="issue-property-label-button">
          <a href="#"
            id="edit-deadline"
            data-form="#deadline-form"
            data-value="#deadline-value"
            data-url=""
            class="toggle-edit"
            >
            Edit
          </a>
        </div>
        </div>
        <div class="issue-property-value">
        <div id="deadline-value">
          {{ issue.deadline ? issue.deadline|date("Y-m-d") }}
        </div>
        <div id="deadline-form" class="hidden">
          Form goes here.
          If you can see this text, something's broken.
        </div>
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Person Responsible
        <div class="issue-property-label-button">
          <a href="#"
            id="edit-responsible"
            data-form="#responsible-form"
            data-value="#responsible-value"
            data-url=""
            class="toggle-edit"
            >
            Edit
          </a>
        </div>
      </div>
      <div class="issue-property-value">
        <div id="responsible-value">
          {{ issue.responsible ? issue.responsible : 'None selected' }}
        </div>
        <div id="responsible-form" class="hidden">
          Form goes here.
          If you can see this text, something's broken.
        </div>
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Participants
        <div class="issue-property-label-button">
          <a href="#"
            id="edit-participant"
            data-form="#participant-form"
            data-value="#participant-value"
            data-hide-value="false"
            data-url=""
            class="toggle-edit"
            >
            +
          </a>
        </div>
      </div>
      <div class="issue-property-value">
        <div id="participant-value">
          {% embed '@BetaMFDIssueTracker/inc/issue/participant.html.twig' %}
          {% endembed %}
        </div>
        <div id="participant-form" class="hidden">
          Form goes here.
          If you can see this text, something's broken.
        </div>
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Component
        <div class="issue-property-label-button">
          <a href="#"
            id="edit-component"
            data-form="#component-form"
            data-value="#component-value"
            data-url=""
            class="toggle-edit"
            >
            Edit
          </a>
        </div>
      </div>
      <div class="issue-property-value">
        <div id="component-value">
          {{ issue.component }}
        </div>
        <div id="component-form" class="hidden">
          Form goes here.
          If you can see this text, something's broken.
        </div>
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Milestone
        <div class="issue-property-label-button">
          <a href="#"
            id="edit-milestone"
            data-form="#milestone-form"
            data-value="#milestone-value"
            data-url=""
            class="toggle-edit"
            >
            Edit
          </a>
        </div>
      </div>
      <div class="issue-property-value">
        <div id="milestone-value">
          {{ issue.milestone }}
        </div>
        <div id="milestone-form" class="hidden">
          Form goes here.
          If you can see this text, something's broken.
        </div>
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Super-Issue
        <div class="issue-property-label-button">
          <a href="#"
            id="edit-super"
            data-form="#super-form"
            data-value="#super-value"
            data-url=""
            class="toggle-edit"
            >
            Edit
          </a>
        </div>
      </div>
      <div class="issue-property-value">
        <div id="super-value">
          {% embed '@BetaMFDIssueTracker/inc/issue/super.html.twig' %}
          {% endembed %}
        </div>
        <div id="super-form" class="hidden">
          Form goes here.
          If you can see this text, something's broken.
        </div>
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Sub-Issues
        <div class="issue-property-label-button">
          {% if not issue.superIssue %}
            <a href="#"
              id="edit-sub"
              data-form="#sub-form"
              data-value="#sub-value"
              data-hide-value="false"
              data-url=""
              class="toggle-edit"
              >
              +
            </a>
          {% endif %}
        </div>
      </div>
      <div class="issue-property-value">
        <div id="sub-value">
          {% embed '@BetaMFDIssueTracker/inc/issue/sub.html.twig' %}
          {% endembed %}
        </div>
        <div id="sub-form" class="hidden">
          Form goes here.
          If you can see this text, something's broken.
        </div>
      </div>
    </div>

    <div class="issue-property">
      <div class="issue-property-label">
        Watchers
      </div>
      <div class="issue-property-value">
        <div id="watcher-value">
          {% embed '@BetaMFDIssueTracker/inc/issue/watcher.html.twig' %}
          {% endembed %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
