{% set colMain = 'col-md-10' %}
{% extends '@BetaMFDIssueTracker/base.html.twig' %}
{% block rightSide %}{% endblock %}

{% block infopanel %}Issues includes general issues, NCRs, CARs,
  and Implementation Plans.
  Tasks are not generally included but may show on searches.
{% endblock %}

{% set route = app.request.attributes.get('_route') %}

{% block body %}

  {% block filter %}
    <div id="filter">
    </div>
  {% endblock %}
  {{ type|default('Issue') }}s showing: {{ issues|length }}
  <table class="table" id="issueTable">
    <tr>
      {% set i = 0 %}
      {% if type|default('Issue') =='Task' %}
        <th>
        </th>
      {% endif %}
      <th>
        {{ type|default('Issue') }}
      </th>
      <th>
          Action
      </th>
      <th>
          Component
      </th>
      <th>
          P
      </th>
      <th>
          Status
      </th>
      <th>
          Responsible
      </th>
      <th>
          Deadline
      </th>
      <th>
          Created
      </th>
      <th>
          Updated
      </th>
      <th>
      </th>
    </tr>
    <tbody id="list_body">
      {% embed '@BetaMFDIssueTracker/inc/list_body.html.twig' %}
      {% endembed %}
    </tbody>
  </table>
{% endblock %}
