{% for i in issues %}
  {% if i.canSee(app.user) or is_granted('PERM_CAN_ACCESS_PRIVATE_ISSUES') %}
  <tr id="row_{{ i.id }}" class="{{ hidden is defined and hidden ? 'collapse sub_' ~ i.superIssue.id }}">
    {% if i.isTask %}
      <td>
        <input type="checkbox" name="issue[{{ i.id }}]" />
      </td>
    {% endif %}
    <td>

      <div class="subicon {{ 'level-' ~ level|default(1) }}">
        {% if i.superIssue and level|default(1) > 1 %}

        {% endif %}

        <span class="sub_icon material-icons md-18"
          id = "icon_{{ i.id }}"
          style="cursor: pointer;"
          data-toggle="collapse"
          data-target="{{ i.hasSubIssues ? '.sub_' ~ i.id }}"
          >
          {% if i.hasSubIssues %}
          add_circle_outline
          {% endif %}
        </span>
      </div>
      <div class="list-issue-name">
        <span class="collapse">{{ "%06d"|format(i.id) }}</span>
        <a href="{{ path('issue', {'id': i.id}) }}"
        >
          #{{i.id}} {{ i.title }}
        </a><br />
      </div>
    </td>
    <td>
      {% if i.isOpen %}
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">=</a>
          <ul class="dropdown-menu">
            {% if i.isResolvable %}
              <li>
                <a href="#"
                  data-toggle="modal"
                  data-target="#confirm-modal"
                  data-label="Resolve issue #{{ i.id }}"
                  type="button"
                  data-status="resolved"
                  data-issue="{{ i.id }}"
                  data-url=""
                  >
                  Resolve #{{ i.id }}
                </a>
              </li>
            {% endif %}
            {% if not i.isStatus('started') %}
              <li>
                <a href="#"
                  data-toggle="modal"
                  data-target="#confirm-modal"
                  data-label="Start issue #{{ i.id }}"
                  data-status="started"
                  data-url=""
                  >Start #{{ i.id }}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </td>
    <td>
      {% if i.component %}
        <a href="">
          <span class="label label-primary">{{ i.component }}</span>
        </a>
      {% endif %}
    </td>
    <td>
    </td>
    <td>
      <a href="{{ path('issues', {'query': 'status:' ~ i.status}) }}">
        <span class="issue-status issue-{{ i.statusCSS }}">{{ i.status }}</span>
      </a>
    </td>
    <td>
      {% if i.responsible %}
        <a href="{{ path('issues', {'query': 'responsible:' ~ i.responsible.id }) }}">{{ i.responsible }}</a>
      {% endif %}
      </td>
    <td class="nowrap">{{ i.deadline ? i.deadline|date("Y-m-d") }}</td>
    <td class="nowrap">{{ i.createdDate|date('Y-m-d') }}</td>
    <td class="nowrap">
      {{ i.updatedDate ? i.updatedDate|date('Y-m-d') : i.createdDate|date('Y-m-d') }}
    </td>
    <td>
      <a href="#" class="watch_toggle"
        data-url=""
        data-badge=""
        data-icon="#watch_icon_{{ i.id }}"
        data-text=""
      >
        {% if i.isWatcher(app.user) %}
          <span id="watch_icon_{{ i.id }}">
            ON
          </span>
        {% elseif not app.user.neverEmailIssueUpdates %}
          <span id="watch_icon_{{ i.id }}" class="unwatched_icon">
            off
          </span>
        {% endif %}
      </a>
    </td>
  </tr>

  {% if i.hasSubIssues %}
    {% embed 'issues/inc/list.html.twig' with {'issues': i.subIssues, type: null, hidden: true, 'level': (level|default(1) + 1)} %}
    {% endembed %}
  {% endif %}
  {% endif %}
{% endfor %}
{% if type|default('Issue') =='Task' and not hidden is defined %}
  <tr>
    <th colspan="50">
      <div class="form-row form-group">
        <label class="control-label required" for="status">For checked</label>
        <span class="question_mark"></span>
        <div class="input_field">
          <select id="status" name="status" class="form-control">
            <option value=""> --- Select --- </option>
            <option value="resolved">Resolve</option>
            <option value="started">Start</option>
            <option value="new">Mark New</option>
          </select>
        </div>
      </div>
    </th>
  </tr>
  <tr>
    <td colspan="50">
      <div class="no-print">
        <div class="col-sm-1">
          <img src="https://www.gravatar.com/avatar/{{ app.user ? app.user.gravatarHash : 'symfony@accupart.com' }}?s=40&d=identicon&r=g" />
        </div>
        <div class="col-sm-11">
              <div class="form-row form-group">
                <label class="control-label" for="comment">
                  New Comment
                </label>
                <span class="question_mark"></span>
                <div class="input_field">
                  <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                </div>
              </div>
        </div>
      </div>
      <br />
      <input type="submit" value="Save Changes" class="btn btn-primary" name="save">
    </td>
  </tr>
  </form>
{% endif %}
