<h4>Checklist</h4>
{% if issue.hasChecklist %}
  <div id="checklist-data">
    <ul style="list-style:none;"
      class="sortable_ulist"
      data-url=""
      >
      {% for c in issue.ChecklistItems %}
        <li id="li_{{ c.id }}" data-id="{{ c.id }}" class="flex-row li_space">
          {% embed '@BetaMFDIssueTracker/inc/issue/checklist_item.html.twig' %}
          {% endembed %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <a href="#" class="add">
    Add to checklist.
  </a>
{% else %}
  <div id="checklist-data">
    No checklist.
  </div>
  <a href="#" class="add">
    Start a checklist.
  </a>
{% endif %}
<div id="new_checklist" class="hidden">

</div>
