<div class="movable flex-row">
  <div>
    >>
  </div>
  <div id="checklist_item_{{ c.id }}" class="checklist_item flex-row">
    {% if not template|default(false) %}
      <input type="checkbox" class="check_list_check"
      id="checkbox_{{ c.id }}"
      {{ c.checked ? 'CHECKED' }}
      data-url=""
      data-checkbox="#checkbox_{{ c.id }}"
      />
      &nbsp;
    {% endif %}
    <div>
      <label for="checkbox_{{ c.id }}" class="control-label checklist_label" style="padding:0px">
        {{ c.title }}
      </label>
    </div>
  </div>
  <div id="checklist_edit_{{ c.id }}" class="hidden">
    <form id="checklist_edit_form_{{ c.id }}"
      class="flex-row checklist_edit_form"
      data-url=""
      data-li="#li_{{ c.id }}"
      data-to-spinner="#checklist_item_{{ c.id }}"
      data-to-hide="#checklist_edit_{{ c.id }}"
      >
      <input name="checklist_title" class="form-control edit_input" value="{{ c.title }}" />
      <button href="#"
        class="btn btn-primary btn-sm edit_input_okay"
        data-form="#checklist_edit_form_{{ c.id }}"
        >
        Save
      </button>
    </form>
  </div>
</div>
<div class="nowrap">
  <a href="#"
    class="checklist_edit"
    data-to-hide="#checklist_item_{{ c.id }}"
    data-to-unhide="#checklist_edit_{{ c.id }}"
    id="edit_{{ c.id }}"
    data-id="#edit_{{ c.id }}"
    data-icon="#cl_edit_icon_{{ c.id }}"
  >
    <span class="material-icons md-18"
      id="cl_edit_icon_{{ c.id }}"
    >edit</span></a>&nbsp;
  <a href="#"
    data-toggle="modal"
    data-target="#confirm-checklist-delete-modal"
    data-title="{{ c.title }}"
    data-url=""
    data-li="#li_{{ c.id }}"
    >
    {{ 'delete'|icon }}
  </a>
</div>
