<ul>
  {% for p in issue.participants %}
    <li id="participant_{{ p.id }}">
      <div class="flex-row" style="justify-content: space-between">
        <div>
          {{ p }}
        </div>
        <div>
          <button class="btn btn-default btn-xs material-icons remove_something"
            data-value="#participant-value"
            data-remove="{{ p.id }}"
            data-url=""
            data-li="#participant_{{ p.id }}"
          >clear
          </button>
        </div>
      </div>
    </li>
  {% else %}
    <li>No participants</li>
  {% endfor %}
</ul>
