
{% if issue.subIssues %}
  <ul>
    {% for sub in issue.subIssues %}
      <li id="li_{{sub.id}}">
        <div class="flex-row" style="justify-content: space-between">
          <div>
            <a href="{{ path('issue', {'id': sub.id}) }}">
              <span class="issue-status issue-{{ sub.statusCSS }}">{{ sub.status }}</span>
              #{{ sub.id }}
              {{ sub.title }}
            </a>
          </div>
          <div>
            <button class="btn btn-default btn-xs material-icons remove_something"
              data-value="#sub-value"
              data-remove="{{ sub.id }}"
              data-li="#li_{{sub.id}}"
              data-url=""
              style="font-size: 12px"
              >clear
            </button>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
