{% if issue.superIssue %}
  <a href="{{ path('issue', {'id': issue.superIssue.id}) }}">
    <span class="issue-status issue-{{ issue.statusCSS }}">{{ issue.status }}</span>
    #{{ issue.superIssue.id }}
    {{ issue.superIssue.title }}
  </a>
{% endif %}
