<span class="badge badge-success" id="watch_badge">
  {{ issue.watchers|length }}
</span>
<a href="#" class="watch_toggle"
  data-url=""
  data-badge="#watch_badge"
  data-icon="#watch_icon"
  data-text="#watch_text"
>
  {% if issue.isWatcher(app.user) %}
    <span id="watch_icon">
      On
    </span>
    <span id="watch_text">
      Stop Watching
    </span>
  {% else %}
    <span id="watch_icon" class="unwatched_icon">
      Off
    </span>
    <span id="watch_text">
      Watch this Issue
    </span>
  {% endif %}
</a>
