{% import _self as macr %}

<div class="btn-toolbar no-print" role="toolbar">
  <div class="btn-group" role="group">
    {% if issue.isOpen %}
      {% if not issue.isStatus('started') %}
        <a href="#"
          class="btn btn-info disabled wait_for_load"
          type="button"
          data-toggle="modal"
          data-target="#confirm-modal"
          data-label="Start issue #{{ issue.id }}"
          data-status="started"
          data-url=""
          >
          Start
        </a>
      {% endif %}
      {% if issue.isResolvable %}
      {# Making resolve disappear is only for special issues like NCRs.
        There's no good button to replace this with. #}
        <a href="#"
          data-toggle="modal"
          data-target="#confirm-modal"
          data-label="Resolve issue #{{ issue.id }}"
          type="button"
          class="btn btn-primary disabled wait_for_load"
          data-status="resolved"
          data-url=""
          >
          Resolve
        </a>
      {% endif %}
    {% else %}
      <a href="#"
        data-toggle="modal"
        data-target="#confirm-modal"
        data-label="Open issue #{{ issue.id }}"
        type="button"
        class="btn btn-default disabled wait_for_load"
        data-status="started"
        data-url=""
        >
        {{ issue.status|title }}
    </a>
    {% endif %}
    <div class="btn-group" role="group">
      <button class="btn btn-default dropdown-toggle disabled wait_for_load" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Workflow
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% if not issue.isStatus('new') %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Mark #{{ issue.id }} as new"
              data-status="new"
              >new</a>
          </li>
        {% endif %}
        {% if not issue.isStatus('started') %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Start issue #{{ issue.id }}"
              data-status="started"
              data-url=""
              >started</a>
            </li>
        {% endif %}
        {% if not issue.isStatus('onhold') %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Put #{{ issue.id }} on hold"
              data-status="on hold"
              data-url=""
              >on hold</a>
          </li>
        {% endif %}
        {% if not issue.isStatus('resolved') and issue.isResolvable %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Resolve issue #{{ issue.id }}"
              data-status="resolved"
              data-url=""
              >resolved</a>
          </li>
        {% endif %}
        {% if not issue.isStatus('duplicate') %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Mark #{{ issue.id }} as a duplicate"
              data-status="duplicate"
              data-url=""
              >duplicate</a>
          </li>
        {% endif %}
        {% if not issue.isStatus('invalid') %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Mark #{{ issue.id }} as invalid"
              data-status="invalid"
              data-url=""
              >invalid</a>
          </li>
        {% endif %}
        {% if not issue.isStatus('wontfix') %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Mark #{{ issue.id }} as won't fix"
              data-status="won't fix"
              data-url=""
              >won't fix</a>
          </li>
        {% endif %}
        {% if not issue.isStatus('closed') %}
          <li>
            <a href="#"
              data-toggle="modal"
              data-target="#confirm-modal"
              data-label="Close issue #{{ issue.id }}"
              data-status="closed"
              data-url=""
              >closed</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="btn-group" role="group">
    <a
      type="button"
      class="btn btn-default"
      href=""
      >
      Edit
    </a>
  </div>
</div>
